Repository Animal-Crate/Animal-Crate, pull requests merged in 2025-03, with the labels that each got.

#19 Create SoundWithbuttons.ino
  Hardware Test Programs/SoundWithbuttons/SoundWithbuttons.ino
Labels: Changes: C/C++

#21 Add files via upload
  Hardware Test Programs/FeedbackCode/FeedbackCode.ino
Labels: Changes: C/C++

#23 Animal Noises
  Sounds/001.mp3
  Sounds/002.mp3
  Sounds/003.mp3
  Sounds/004.mp3
  Sounds/005.mp3
  Sounds/006.mp3
Labels: Changes: Audio

#24 Update SoundWithbuttons.ino
  Hardware Test Programs/SoundWithbuttons/SoundWithbuttons.ino
Labels: Changes: C/C++

#25 Change Naming Scheme & Delete Outdated Versions
  Animal Sounds/001.mp3
  Animal Sounds/002.mp3
  Animal Sounds/003.mp3
  Animal Sounds/004.mp3
  Animal Sounds/005.mp3
  Animal Sounds/006.mp3
  Animal Sounds/README.md
  Debug Programs/AlgorithmButtonFeedbackCode/AlgorithmButtonFeedbackCode.ino
  Hardware Test Programs/AnimalToy1.0/AnimalToy1.0.ino
  Hardware Test Programs/AnimalToy2.1(T-Shoot)/AnimalToy2.1(T-Shoot).ino
  Hardware Test Programs/PowerSystemStandalone/PowerSystemStandalone.ino
  Hardware Test Programs/SoundSystemStandalone/SoundSystemStandalone.ino
  Hardware Test Programs/TestCode/TestCode.ino
Labels: Changes: Documentation, Changes: C/C++, Changes: Audio

#27 Update READMEs.
  Animal Sounds/README.md
  README.md
Labels: Changes: Documentation

#28 Add Building Resources and README for it.
  Building Resources/FP - Pinout.txt
  Building Resources/README.md
Labels: Changes: Documentation

#31 Update Labeler for PCB Files
  .github/labeler.yml
Labels: Changes: Config

#29 Adding Kicad PCB and Schematic Files
  Building Resources/KiCad PCB Files/490 Power Supply Circuit.kicad_pcb
  Building Resources/KiCad PCB Files/490 Power Supply Circuit.kicad_pro
  Building Resources/KiCad PCB Files/490 Power Supply Circuit.kicad_sch
Labels: Changes: PCB Files

#30 Initial Audio Integration
  Integration Programs/ScannerAudioIntegration/ScannerAudioIntegration.ino
Labels: Changes: C/C++

#32 Add More Libraries to README
  README.md
Labels: Changes: Documentation
