Repository Animal-Crate/Animal-Crate, pull requests merged in 2025-04, with the labels that each got.

#33 Interrupts Setup & Remove Display in Audio/Scanner Integration
  Integration Programs/ScannerAudioIntegration/ScannerAudioIntegration.ino
Labels: Changes: C/C++

#35 Update AlgorithmButtonFeedbackCode.ino
  Debug Programs/AlgorithmButtonFeedbackCode/AlgorithmButtonFeedbackCode.ino
Labels: Changes: C/C++

#36 Finish Audio & Scanner Integration
  Integration Programs/ScannerAudioIntegration/ScannerAudioIntegration.ino
Labels: Changes: C/C++

#37 Update KiCad Schematics
  Building Resources/KiCad PCB Files/490 Power Supply Circuit.kicad_pcb
  Building Resources/KiCad PCB Files/490 Power Supply Circuit.kicad_prl
  Building Resources/KiCad PCB Files/490 Power Supply Circuit.kicad_pro
  Building Resources/KiCad PCB Files/490 Power Supply Circuit.kicad_sch
  Building Resources/KiCad PCB Files/BOM MILLING PLAN.btm
  Building Resources/KiCad PCB Files/DIP-18_500.kicad_mod
  Building Resources/KiCad PCB Files/EYESPI_18PIN.kicad_sym
Labels: Changes: PCB Files

#39 Update README w/ Libraries
  README.md
Labels: Changes: Documentation

#41 Audio/Video & Scanner Integration
  Integration Programs/AV_ScannerIntegration/AV_ScannerIntegration.ino
Labels: Changes: C/C++

#40 Integration Program TouchUps
  Integration Programs/ScannerAudioIntegration/ScannerAudioIntegration.ino
Labels: Changes: C/C++

#42 Update AlgorithmButtonFeedbackCode.ino
  Debug Programs/AlgorithmButtonFeedbackCode/AlgorithmButtonFeedbackCode.ino
Labels: Changes: C/C++

#43 Fix Port Identification and Screen Flicker
  Integration Programs/AV_ScannerIntegration/AV_ScannerIntegration.ino
Labels: Changes: C/C++

#44 Update AlgorithmButtonFeedbackCode.ino
  Debug Programs/AlgorithmButtonFeedbackCode/AlgorithmButtonFeedbackCode.ino
Labels: Changes: C/C++

#45 Update Project Description and Logo
  README.md
  Team-Logo.png
Labels: Changes: Documentation, Changes: Images

#46 Add README to Integration Tests
  Integration Programs/README.md
Labels: Changes: Documentation

#47 Update Subsystem Directories & Add README
  Subsystem Programs/Algorithm-Feedback/Algorithm-Feedback.ino
  Subsystem Programs/Animal_Toy/Animal_Toy.ino
  Subsystem Programs/Power-System_Debug/Power-System_Debug.ino
  Subsystem Programs/README.md
  Subsystem Programs/Scanner_Debug-Display/Scanner_Debug-Display.ino
  Subsystem Programs/Scanner_Debug/Scanner_Debug.ino
  Subsystem Programs/Sound-System_Debug/Sound-System_Debug.ino
Labels: Changes: Documentation, Changes: C/C++

#48 Update Prerequisites and MFRC Directory
  README.md
  _/MFRC522/README.rst
  _/MFRC522/UNLICENSE
  _/MFRC522/changes.txt
  _/MFRC522/doc/PICCMemoryLayout.md
  _/MFRC522/doc/fritzing/Arduino-Uno-r3-with-RFID-RC522.fzz
  _/MFRC522/doc/fritzing/Arduino-Uno-r3-with-RFID-RC522.png
  _/MFRC522/doc/fritzing/RFID-RC522 - Pin Layout.png
  _/MFRC522/doc/fritzing/RFID-RC522-v2.fzpz
  _/MFRC522/doc/fritzing/RFID-RC522-v2.png
  _/MFRC522/doc/fritzing/RFID-RC522-v3.fzpz
  _/MFRC522/doc/fritzing/RFID-RC522-v3.png
  _/MFRC522/doc/rfidmifare.doc
  _/MFRC522/doc/rfidmifare.pdf
  _/MFRC522/examples/ChangeUID/ChangeUID.ino
  _/MFRC522/examples/DumpInfo/DumpInfo.ino
  _/MFRC522/examples/FixBrickedUID/FixBrickedUID.ino
  _/MFRC522/examples/MifareClassicValueBlock/MifareClassicValueBlock.ino
  _/MFRC522/examples/MinimalInterrupt/MinimalInterrupt.ino
  _/MFRC522/examples/Ntag216_AUTH/Ntag216_AUTH.ino
  _/MFRC522/examples/RFID-Cloner/RFID-Cloner.ino
  _/MFRC522/examples/ReadAndWrite/ReadAndWrite.ino
  _/MFRC522/examples/ReadNUID/ReadNUID.ino
  _/MFRC522/examples/ReadUidMultiReader/ReadUidMultiReader.ino
  _/MFRC522/examples/firmware_check/firmware_check.ino
  _/MFRC522/examples/rfid_default_keys/rfid_default_keys.ino
  _/MFRC522/examples/rfid_read_personal_data/rfid_read_personal_data.ino
  _/MFRC522/examples/rfid_write_personal_data/rfid_write_personal_data.ino
  _/MFRC522/keywords.txt
  _/MFRC522/library.json
  _/MFRC522/library.properties
  _/MFRC522/src/MFRC522.cpp
  _/MFRC522/src/MFRC522.h
  _/MFRC522/src/MFRC522Extended.cpp
  _/MFRC522/src/MFRC522Extended.h
  _/MFRC522/src/deprecated.h
  _/MFRC522/src/require_cpp11.h
Labels: Changes: Documentation, Changes: C/C++, Changes: Headers, Changes: Images

#49 Fix Bad Directory
  _MFRC522/README.rst
  _MFRC522/UNLICENSE
  _MFRC522/changes.txt
  _MFRC522/doc/PICCMemoryLayout.md
  _MFRC522/doc/fritzing/Arduino-Uno-r3-with-RFID-RC522.fzz
  _MFRC522/doc/fritzing/Arduino-Uno-r3-with-RFID-RC522.png
  _MFRC522/doc/fritzing/RFID-RC522 - Pin Layout.png
  _MFRC522/doc/fritzing/RFID-RC522-v2.fzpz
  _MFRC522/doc/fritzing/RFID-RC522-v2.png
  _MFRC522/doc/fritzing/RFID-RC522-v3.fzpz
  _MFRC522/doc/fritzing/RFID-RC522-v3.png
  _MFRC522/doc/rfidmifare.doc
  _MFRC522/doc/rfidmifare.pdf
  _MFRC522/examples/ChangeUID/ChangeUID.ino
  _MFRC522/examples/DumpInfo/DumpInfo.ino
  _MFRC522/examples/FixBrickedUID/FixBrickedUID.ino
  _MFRC522/examples/MifareClassicValueBlock/MifareClassicValueBlock.ino
  _MFRC522/examples/MinimalInterrupt/MinimalInterrupt.ino
  _MFRC522/examples/Ntag216_AUTH/Ntag216_AUTH.ino
  _MFRC522/examples/RFID-Cloner/RFID-Cloner.ino
  _MFRC522/examples/ReadAndWrite/ReadAndWrite.ino
  _MFRC522/examples/ReadNUID/ReadNUID.ino
  _MFRC522/examples/ReadUidMultiReader/ReadUidMultiReader.ino
  _MFRC522/examples/firmware_check/firmware_check.ino
  _MFRC522/examples/rfid_default_keys/rfid_default_keys.ino
  _MFRC522/examples/rfid_read_personal_data/rfid_read_personal_data.ino
  _MFRC522/examples/rfid_write_personal_data/rfid_write_personal_data.ino
  _MFRC522/keywords.txt
  _MFRC522/library.json
  _MFRC522/library.properties
  _MFRC522/src/MFRC522.cpp
  _MFRC522/src/MFRC522.h
  _MFRC522/src/MFRC522Extended.cpp
  _MFRC522/src/MFRC522Extended.h
  _MFRC522/src/deprecated.h
  _MFRC522/src/require_cpp11.h
Labels: Changes: Documentation, Changes: C/C++, Changes: Headers, Changes: Images

#50 Update PCB Auto-Labeler
  .github/labeler.yml
Labels: Changes: Config

#52 Add Issue Templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/help-wanted.md
  .github/ISSUE_TEMPLATE/question.md
Labels: Changes: Documentation

#54 Add Control Program and Release Programs Directory w/ README
  Release Programs/Control_Program-Serial_Debug/Control_Program-Serial_Debug.ino
  Release Programs/README.md
Labels: Changes: Documentation, Changes: C/C++

#56 Add Control_Program
  Release Programs/Control_Program/Control_Program.ino
Labels: Changes: C/C++

#57 Add Citation for Referencing
  CITATION.cff
Labels: Changes: Documentation

#58 Update Serial Debug and Delays in Release Programs
  Release Programs/Control_Program-Serial_Debug/Control_Program-Serial_Debug.ino
  Release Programs/Control_Program/Control_Program.ino
Labels: Changes: C/C++

#60 Fix Indexing, Screen Repeats, Spacing on Menu, and Add Volume Cue
  Integration Programs/AV_ScannerIntegration/AV_ScannerIntegration.ino
  Release Programs/Control_Program-Serial_Debug/Control_Program-Serial_Debug.ino
  Release Programs/Control_Program/Control_Program.ino
Labels: Changes: C/C++

#61 Add Charge_Detection Subsystem
  Subsystem Programs/Charge_Detection/Charge_Detection.ino
  Subsystem Programs/README.md
Labels: Changes: Documentation, Changes: C/C++

#62 Add Charge Detection to Releases
  Release Programs/Control_Program-Serial_Debug/Control_Program-Serial_Debug.ino
  Release Programs/Control_Program/Control_Program.ino
Labels: Changes: C/C++
